<%- include('layout',{title:'express'}) -%>

    <ul>
        <% for(var i=0; i < topics.length; i++) {%>
          <li>  <a href='/topic/<%= topics[i] %>'><%= topics[i] %> </a> 다운로드 <a href='/file/<%= topics[i]%>'>.</a></li>
        <%}%>
    </ul>

<%- include('footer') -%>